/target
/tests/fixtures/hello
/tests/fixtures/hello_static
/tests/fixtures/libfoo.so
/tests/fixtures/needfoo
/tests/fixtures/tiny
/tests/fixtures/tiny_ldso
/tests/fixtures/tlstest
/tests/fixtures/ctype_test
/tests/fixtures/string_test
/tests/fixtures/stdlib_test
/tests/fixtures/stdio_input_test
/tests/fixtures/stdio_input_test.txt
/tests/fixtures/signal_test
/tests/fixtures/setjmp_test
/tests/fixtures/process_test
/tests/fixtures/socket_test
/tests/fixtures/pthread_test
/tests/fixtures/locale_test
/tests/fixtures/iconv_test
